<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo_catagory.name %>
</p>

<%= link_to 'Edit', edit_photo_catagory_path(@photo_catagory) %> |
<%= link_to 'Back', photo_catagories_path %>
