<p id="notice"><%= notice %></p>
        <!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Portfolio</h1>
                    <p class="intro-text">Photographic Works<br>By Joel Davison</p>
                    <a href="#styles" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

          <!-- Styles section -->
          <section id="download" class ="container content-section text-center">
            <div class="row">
              <div class="col-md-4">
                <div class="card card-inverse">
                  <img class="card-img" src="http://i.imgur.com/1BXlMvf.jpg" width="375px" alt="landscapes">
                  <div class="card-img-overlay">
                    <h4 class"card-title"> Landscapes </h4>
                  </div>
                </div>
                </div>
                <div class="col-md-4">
                <div class="card card-inverse">
                  <img class="card-img" src="http://i.imgur.com/1BXlMvf.jpg" width="375px" alt="landscapes">
                  <div class="card-img-overlay">
                    <h4 class"card-title"> Portrait </h4>
                  </div>
                </div>
                </div>
                <div class="col-md-4">
                <div class="card card-inverse">
                  <img class="card-img" src="http://i.imgur.com/1BXlMvf.jpg" width="375px" alt="landscapes">
                  <div class="card-img-overlay">
                    <h4 class"card-title"> Events </h4>
                  </div>
                </div>
                </div>
              </div>




          <!-- About Section -->
          <section id="about" class="container content-section text-center">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <h2>About the photographer</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo turpis, euismod vel luctus quis, mattis non nisi.</p>
                      <p> Suspendisse eget ex facilisis, tempor risus et, porta tellus. </p>
                      <p>Mauris in dolor vel orci bibendum scelerisque. Quisque nec finibus justo, id imperdiet nisi. Praesent at arcu vitae orci feugiat sollicitudin.</p>
                  </div>
              </div>
          </section>




          <!-- Contact Section -->
          <section id="contact" class="container content-section text-center">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <h2>Contact Start Bootstrap</h2>
                      <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                      <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                      </p>
                      <ul class="list-inline banner-social-buttons">
                          <li>
                              <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                          </li>
                          <li>
                              <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                          </li>
                          <li>
                              <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </section>

          <!-- Map Section -->
          <div id="map"></div>

          <!-- Footer -->
          <footer>
              <div class="container text-center">
                  <p>Joel Davison 2016</p>
              </div>
          </footer>
